<!-- <template>
  <div class="app">

    <div class="footer">
        <p>Copyright 2017 {{ title }}</p>
          </div>

    </div>
</template>
<script>
export default {
    props: {
      title: {
        type: String,
        required: true
      }
    },
    data(){
        return{

        }
    }
}
</script>
<style scoped>

.footer{
  position: absolute;
  bottom:0;
  left: 0;
    width: 100%;
}
p{
        color: rgb(236, 242, 229);
        text-align: center;
}

</style> -->
