<template>
<div class="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <router-link to="/">
                  <p> Mahasiwa</p>
              </router-link>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <router-link to="/Beranda2">
                        <p> Beranda</p>
                    </router-link>
        </li>
        <li class="nav-item">
          <router-link to="/BuatSoal">

                      <p> Buat Soal</p>
                  </router-link>
        </li>
        <li class="nav-item">
      <router-link to="/DetailSoal">
                   <p>Detail Soal ujian</p>
               </router-link>
        </li>
        <li class="nav-item">
      <router-link to="/ListSoal">
                   <p>Post , Update, Delete</p>
               </router-link>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" placeholder="Search" type="text">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
      </div>
</template>

<script>
export default {
}
</script>

<style src="./Bootstrap.css">

</style>
