<template>
  <div id="add-user">

    <form v-if="!submitted" >
      <h2>Coba Login</h2>
      <label>email :</label>
      <input type="text" v-model="email" required/>
      <label>Password :</label>
        <input type="text" v-model="password" required/>

      <button type="button" v-on:click.prevent='post'>Post</button>
      <button type="button" v-on:click.prevent='upd'>Update</button>
      <button type="button" v-on:click.prevent='del'>Delete</button>
    </form>
    <div id="preview" v-else-if="submitted">
      <p>Succes</p>
    </div>
  </div>

</template>

<script>
import axios from 'axios'

export default {

  data(){
    return{

      email : "" ,
      password : "" ,

        submitted: false
  }
}
  , methods:{
    post: function(){
    let c=  axios.post('https://reqres.in/api/users/',{
        email: this.email,
        password: this.password
      }).then(function(data){
        console.log(data);

      });
      if(c){
        this.submitted= true
      }
    },
    upd : function(){
    let b =  axios.put('https://reqres.in/api/users/1',{
        email: this.email,
        password: this.password
      }).then(function(data){
        console.log(data);

      });
      if(b){
        this.submitted= true
      }
    },
    del : function(){

    let  a = axios.delete('https://reqres.in/api/users/1').then(function(data){
        console.log(data);

      });
      if(a){
        this.submitted= true
      }
    }

  },

}
</script>
<style>

  #add-user *{
    box-sizing:border-box;
    text-align: left;
  }
  #add-user{
    margin: 20px auto;
    max-width: 500px;
  }
  label{
    display: block;
    margin: 20px 0 10px;
  }
  input[type="text"],textarea{
    display: block;
    margin: 20px 0 10px;
  }
  input[type="text"],textarea{
    display: block;
    width: 100%;
  }
  #preview{
    padding: 10px 20px;
    border: 1px dotted #ccc;
    margin: 30px 0;
  }
  h3{
    margin-top: 10px;
  }
  .checkboxs input{
    display: inline-block;
    margin-right: 10px;
  }
  .checkboxs label{
    display: inline-block;
  }
.checkboxs ul {
    text-decoration: none;
    display: none;
    margin-left: 5px;
  }
</style>
