<template>
<div class="beranda">
    <div class="container">
      <h1 >Pengumuman</h1>
      <div class="col-lg-12">
        <div class="parag">
          <p>Mahasiswa Diharapkan Dapat Mengikuti Ujian dengan Benar ter Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ex ut nibh interdum tempor sed in felis. Nulla iaculis mauris eget pellentesque fermentum. Integer vitae orci efficitur nulla tincidunt semper. Cras pellentesque commodo varius. Phasellus quis lorem eget tellus suscipit commodo. Donec sed mattis ligula. Nulla iaculis orci dui, vel tincidunt sem tincidunt nec. Phasellus non augue vel est luctus blandit vehicula ut nibh. Donec eu blandit erat. Maecenas posuere posuere pulvinar. Maecenas blandit tempus lacus, convallis rhoncus mi sollicitudin at. Duis leo tortor, fringilla eu libero quis, vulputate pellentesque leo. </p>
          <p>In porta turpis et ultrices placerat. Curabitur interdum feugiat enim, id porta mi pretium et. Nam ligula urna, accumsan at sapien non, laoreet tempus libero. Quisque id diam a urna egestas dignissim. Donec vehicula feugiat consequat. Nam lobortis luctus rhoncus. Donec vulputate in augue vel suscipit. Nam condimentum velit est, at dictum metus pellentesque id. Suspendisse at convallis nibh. Donec nulla ex, interdum non orci a, auctor posuere justo. Aliquam erat volutpat. Sed vehicula, est vitae gravida interdum, sem sem scelerisque lacus, in malesuada ex dui quis sapien. </p>
          <p>Nulla enim augue, varius in interdum at, fringilla ornare mi. Sed tristique pellentesque nisi molestie tempus. Donec placerat orci id lectus cursus, nec efficitur quam tincidunt. Mauris ornare, purus vitae hendrerit ultrices, diam magna aliquam purus, non sodales ante diam vel est. Quisque faucibus justo at eros ullamcorper congue. Aenean pretium, velit quis molestie volutpat, urna nisl congue mi, blandit pretium felis mi sed metus. Vivamus ac justo ac libero aliquam efficitur at ac tortor. Pellentesque condimentum dui eget volutpat euismod. Maecenas convallis, mi eu ullamcorper lacinia, nibh massa venenatis odio, ut tempor metus nisl eget lacus. </p>
            </div>
      </div>
    </div>
</div>
</template>

<script>

export default {
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<!-- /* <style >
// @import './src/styles/custom-bootstrap.scss';
// @import './node_modules/bootstrap/scss/bootstrap.scss';
</style> */ -->
<style scop >
.beranda{
  width: 100%;
}
h1{
  text-align: center;
}
.container{
  margin-top: 10px;
}
  .parag{

    text-align: justify;
  }
</style>
