<template>
<div class="beranda">
  <div class="container">
    <h1>{{ msg }}</h1>
    <table border="1" align="center" class="table">
      <thead class="bg-dark">
        <tr class="tabl-head">
          <th width="150px">Mata Kuliah</th>
          <th>Jam</th>
          <th>Ruang</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>IPA</td>
          <td>09.00</td>
          <td>R-1</td>
        </tr>
        <tr>
          <td>IPS</td>
          <td>10.00</td>
          <td>R-1</td>
        </tr>
        <tr>
          <td>Matermatika</td>
          <td>11.00</td>
          <td>R-2</td>
        </tr>
        <tr>
          <td>Penjaskes</td>
          <td>12.00</td>
          <td>R-4</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</template>
<script>
export default {
}
</script>

<style >
.container {
  text-align: center;
}

.bg-dark {
  color: rgb(236, 246, 245);
}
</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<!-- // <style lang="scss">
// // @import '../src/styles/custom-bootstrap.scss';
// // @import './node_modules/bootstrap/scss/bootstrap.scss';
// </style> -->
