<template>
<div class="EditProfil">
  <div class="container">
    <h1 align="center">Edit Profil</h1>
    <form>
      <table class="table" align="center">
        <tr class="form-style-1">
          <td>Nomor BP </td>
          <td> <input type="text" class="form-control" /></td>
        </tr>
        <tr>
          <td>Nama <span class="required">*</span></td>
          <td><input type="text" name="field3" class="form-control"/></td>
        </tr>
        <tr>
          <td>Alamat <span class="required">*</span></td>
          <td><textarea name="field5" id="field5" class="form-control"></textarea></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Submit" class="btn btn-primary"/></td>
        </tr>
      </table>
    </form>
  </div>
</div>
</template>

<script>


export default {
}
</script>

<style >
.container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<!-- // <style lang="scss">
// // @import './src/styles/custom-bootstrap.scss';
// // @import './node_modules/bootstrap/scss/bootstrap.scss';
// </style> -->
