<template>
  <div class="container">
    <h2 align='center'>soal</h2>
    <table class="table" border="0">
      <tr>
        <td>{{posts.number}}</td>
        <td> </td>
        <td ><p>{{posts.question}}</p></td>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td>
          <tr v-for="post in posts.options">
            <td>{{post.opsi}}</td>
            <td>{{post.text}}</td>
          </tr>
        </td>
      </tr>
    </table>
  </div>
</template>
<script>
import axios from 'axios'

export default {
  props: {
     'message': {
      type: String,
      default: 'nik'
    },
     'posts': [],
  },
  data () {
    return {
      posts: [],
      errors: []
    }
  },
  created () {
    axios.get(`https://api.myjson.com/bins/ia6nt`)
      .then(response => {
        this.posts = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
  },
}
</script>
<style >
  .container{
    margin-top: 40px;
  }
</style>
