<template>
<div class="Profil">
  <div class="container">

    <h1 align="center">Profil</h1>
    <div class="row">
      <div class="col col-md-7">
        <table border="0" align="center" class="table">

          <tr>
            <td>Nama </td>
            <td> : </td>
            <td>
              <dataApi message='nama'></dataApi>
            </td>
          </tr>
          <tr>
            <td>BP </td>
            <td> : </td>
            <td>
              <dataApi message='nik'></dataApi>
            </td>
          </tr>
          <tr>
            <td>Jurusan </td>
            <td> : </td>
            <td>
              <dataApi message='jurusan'></dataApi>
            </td>
          </tr>
          <tr>
            <td>Semester</td>
            <td> : </td>
            <td>
              <dataApi message='semester'></dataApi>
            </td>
          </tr>
          <tr>
            <td>Alamat </td>
            <td> : </td>
            <td>
              <dataApi message='alamat'></dataApi>
            </td>
          </tr>
          <tr>
            <td>Tanggal Lahir </td>
            <td> : </td>
            <td>
              <dataApi message='tanggalLahir'></dataApi>
            </td>
          </tr>
        </table>
      </div>
      <div class="col col-md-5">
        <img src="../layout/img.jpg">
      </div>
    </div>

  </div>

</div>
</template>

<script>
// import dataApi from './../Apicoba.vue';
import dataApi from '@/components/Apicoba'
export default {
  components: {
    dataApi
  },
  //
  // data() {
  //   return {
  //   }
  // }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<!-- // <style lang="scss">
// // @import './src/styles/custom-bootstrap.scss';
// // @import './node_modules/bootstrap/scss/bootstrap.scss';
// </style> -->
<style >
.Profil {
  padding-top: 30px;
}

.container {
  width: 100%;
  margin-bottom: 10px;
}

.container .kiri {
  width: 30%;
  text-align: left;
}

.container .kanan {
  width: 30%;
  text-align: right;
  margin-left: 5px;
}
</style>
