<template>
  <div>
<div v-if="message == 'nama'">
  <p>{{ posts.nama }}</p>
</div>
<div v-else-if="message == 'nik'">
  <p>{{ posts.nik }}</p>
  </div>
<div v-else-if="message == 'jurusan'">
  <p>{{posts.jurusan}}</p>
</div>
<div v-else-if="message == 'semester'">
  <p>{{posts.semeter}}</p>
</div>
<div v-else-if="message == 'alamat'">
  <p>{{posts.alamat}}</p>
</div>
<div v-else-if="message == 'tanggalLahir'">
  <p>{{posts.tanggalLahir}}</p>
</div>
  </div>
</template>
<script>
import axios from 'axios'

export default {
  props: {
     'message': {
      type: String,
      default: 'nik'
    },
    'tess' : "www.ilham.com"
  },
  data () {
    return {
      posts: [],
      errors: [],
      tess : "www.ilham.com"
    }
  },
  created () {
    axios.get(`https://api.myjson.com/bins/19lzbt`)
      .then(response => {
        this.posts = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
  },
}
</script>
