<template>
  <div class="depan">
    <ul>
      <li> <router-link to="/dosen">klik</router-link> </li>
      <li> <router-link to="/siswa">klik</router-link> </li>
<!-- <p>ss</p>
<ul v-for="post of posts.data">
  <li>{{ post }}</li>
</ul>
{{ posts.data.id }} -->
      <p id="saya">haii</p>
      <button type="button" name="button" v-on:click="tekan">jjj</button>
      <button type="button" name="sa" v-on:click="tambah">saas</button>
    </ul>
    <p> saya adalah {{saya }}</p>
    <dataApi >

    </dataApi>

  </div>
</template>

<script>
import axios from 'axios'
import dataApi from '@/components/Apicoba'

export default {
components : {
  dataApi
},

  data() {
    return{
      posts: {},
      saya: 20,

    }
  },
  methods : {
    tekan() {
      let xzz = document.getElementById("saya").innerHTML = "dss";
    //   let ab = document.getElementsByTagName("p");
    // document.getElementById("saya").innerHTML = 'ddd'+ ab[0].innerHTML + "dss";
  },
  tambah() {
    this.saya--;
  }
},
created () {
  axios.get(`https://reqres.in/api/users/2`)
    .then(response => {
      this.posts = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
},
mounts :{

}
}


</script>

<style lang="css">
</style>
