<template>
<div id="app">


  <div class="container">
    <Header></Header>
    <router-view></router-view>
    <Footer></Footer>
  </div>

</div>
</template>

<script>
import Header from './layout/Header'

export default {
  components: {
    Header
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
 <style>


/* import '/layout/Bootstrap.css';
import '/layout/Bootstrap.min.css'; */
 /* @import '../styles/custom-bootstrap.scss'; */
 /* @import './../node_modules/bootstrap/dist/css/bootstrap.css'; */
</style>
