<template>
  <h1>{{ msg }}</h1>


</template>

<script>
export default {
  name: 'Mahasiswa',
  data () {
    return {
      msg: 'Welccome to '
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<!-- // <style lang="scss">
// @import '../styles/custom-bootstrap.scss';
// @import './bootstrap/scss/bootstrap.scss';
// </style> -->
