<template>
  <div class="container">
    <div class="jumbotron">

      <h1 class="display-3">Ujian Sistem</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><router-link to="/beranda" class="btn btn-lg btn-success" role="button" >Mahasiswa</router-link>
              <router-link to="/beranda2" class="btn btn-lg btn-success" role="button" >Dosen</router-link></p>
    </ul>
    </div>

      <div class="imgg">
        <img src="https://i1.wp.com/yuvalianda.com/wp-content/uploads/2017/08/tips-lolos-cpns.jpg">
      </div>


  </div>
</template>

<script>
import axios from 'axios'
import dataApi from '@/components/Apicoba'
export default {

  data() {
    return{
      posts: {}


    }

  },
  methods : {
    tekan() {
      let xzz = document.getElementById("saya").innerHTML = "dss";
    //   let ab = document.getElementsByTagName("p");
    // document.getElementById("saya").innerHTML = 'ddd'+ ab[0].innerHTML + "dss";
  }
},
created () {
  axios.get(`https://reqres.in/api/users/2`)
    .then(response => {
      this.posts = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
},

}

</script>

<style>
.container{
  width: 100%;
}
.jumbotron{
  text-align: center;
}
.btn{
  background: #343A40 ;
}
.imgg{
  width: 100%;
}
img{
  width: 100%;
}
</style>
