<template>
  <div>
  <p>{{  posts.objek.nama }}</p>
<div v-for="a in posts.objek">
  <p>{{ a.nama }}</p>


<form  >
  <h2>Coba Login</h2>
  <label>nama :</label>
  <input type="text" v-model.lazy="a.nama" required/>
  <label>nik :</label>
    <input type="text" v-model.lazy="a.nik" required/>
  <label>Jurusant:</label>
<input type="text" v-model.lazy="a.jurusan" required/>
<label>semester:</label>
<input type="text" v-model.lazy="a.semester" required/>
  <button type="button" v-on:click.prevent='post'>Add your blog</button>
</form>
</div>
  </div>
</template>
<script>
import axios from 'axios'

export default {
  props: {
     'message': {
      type: String,
      default: 'nik'
    },
  },
  data () {
    return {
      posts: {
        objek :[]
      },
      errors: []
    }
  },
  created () {
    axios.get(`http://localhost:3000/objek`)
      .then(response => {
        this.posts.objek = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
  },
   methods:{
    post: function(){
    axios.put('http://localhost:3000/objek/1',{
        nama: this.posts.nama,
        nik: this.posts.nik,
        jurusan : this.posts.jurusan,
        semester : this.posts.semester,
      }).then(function(data){
        console.log(data);
      });
    }

  }
}
</script>
