<template>
  <div id="app">
  <router-view> </router-view>
  </div>
</template>

<script>
export default {
  name: 'App'
}

</script>
<!-- // <style lang="scss">
//  @import '../styles/custom-bootstrap.scss';
//  @import '../styles/tes.css';
//  @import './node_modules/bootstrap/scss/bootstrap.scss';
//  </style> -->

<style lang="scss">
   @import './assets/layout/template.scss';
</style>
